################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Finance/x64/Debug
/Finance/Debug
/Debug
/x64/Debug
